/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: black;
  text-align: center;
  height: calc(100vh - 55px);
  background-color: white;
  // background-size: cover !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  .banner-content {
    color: $cyan-darker;
    h1 {
      font-size: 3em;
      margin: 40px 0;
      color: $brand-color;
      font-family: $title-font;
      #main-title {
        font-size: 5em;
        color: $yellow;
        text-shadow: 10px 10px 0px $brand-color;
      }
    }
    h2 {
      margin-bottom: 40px;
      font-family: $title-font;
      font-size: 5em;
    }
    .start-btn {
      height: 100px;
      padding: 20px;
      a.btn.btn-secondary {
        // il faut modifier la font du bouton.
        position: relative;
        font-size: 1.5em;
        letter-spacing: 0.1em;
        border: 2px solid $yellow;
        box-shadow: 10px 10px 0px $brand-color;
        text-decoration: none;
        color: $brand-color;
        font-weight: bold;
        &:hover {
          box-shadow: 5px 5px 0px $yellow;
          top: 5px;
          left: 5px;
          background-color: $brand-color;
          color: white;
          border: 1px solid $brand-color;
        }
      }
    }
  }
}

.hp-wrapper {
  background: #F7F7F7;
  padding: 100px 0;
}

.hp-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .hp-text {
    // changer couleur du text
    // changer police sur h3 et p
    h3 {
      font-family: Lato;
      font-size: 36px;
      line-height: 44px;
    }
    p, li {
      color: #808080;
      font-size: 18px;
      line-height: 28px;
    }
  }
  .hp-icon {
    display: flex;
    flex-direction: row;
    img.emoji {
      height: 2em;
      width: 2em;
      margin: 0 .5em 0 .5em;
      vertical-align: -0.1em;
    }
  }
}
.demo-image {
  width: 100%;
}