/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: black;
  text-align: center;
  height: calc(100vh - 55px);
  background-color: white;
  // background-size: cover !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  .banner-content {
    color: $brand-color;
    h1 {
      font-size: 3em;
      margin: 40px 0;
      font-family: $title-font;
      #main-title {
        font-size: 6em;
        color: $yellow;
        text-shadow: 10px 10px 0px $brand-color;
      }
    }
    h2 {
      margin-bottom: 40px;
      font-family: $title-font;
      font-size: 5em;
    }
  }
}

.hp-wrapper {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.hp-content {
  margin: 50px 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .hp-text {
    margin: 0 20px;
  }
  .hp-icon {
    font-size: 6em;
    padding: 22px;
    margin: 0 20px;
    color: $brand-color;
    // the padding is here to fit with the h1 margin in hp-text div
  }
}

.hp-content-reverse {
  @extend .hp-content;
  flex-direction: row-reverse;
}







// .card {
//   background-color: #BFCDCF;
//   border-radius: 4px;
//   height: 250px;
//   width: 350px;
//   padding: 10px 41px 14px 48px;
//   transition: transform 0.5s;
//   -webkit-box-shadow: inset 0 0 6px #000000;
//   h2 {
//     color: white;
//   }
//   p {
//     letter-spacing: 5px;
//     text-transform: uppercase;
//     font-family: 'Brandon Grotesque Bold','Helvetica Neue',Arial,Helvetica,sans-serif;
//   }
// }

// .card:hover {
//   background-color: #F4F4F4;
//   border: 4px solid white;
//   height: 250px;
//   width: 350px;
//   cursor: pointer;
//   padding: 10px 41px 14px 48px;
//   transition: all 0.1s cubic-bezier(0.55, 0.06, 0.68, 0.19) 0.1s;
//   h2 {
//     color: #383838;
//   }
//   p {
//     color: #383838;
//     letter-spacing: 5px;
//     text-transform: uppercase;
//     font-family: 'Brandon Grotesque Bold','Helvetica Neue',Arial,Helvetica,sans-serif;
//   }
// }

// .wrapper-gray {
//   background-color: #383838;
//   background-size: cover;
// }

// .wrapper-multidevice {
//   background: radial-gradient( #BFCDCF, #6C7A7A);
// }

// .container {
//   position: relative;
// }

// .card-content {
//   margin-top: 23px;
// }

// .card-title h2 {
//   font-style: italic;
//   color: white;
//   letter-spacing: 5px;
// }

// #multiplatform img {
//   height: 380px;
//   margin-bottom: 60px;
// }

// .title-multidevice {
//   margin-bottom: -100px;
// }

// #soon img {
//   height: 343px;
//   margin-top: -115px;
// }


// .pages-home {
//   .navbar-wagon-dropdown-menu {
//     background-color: rgba(255, 255, 255, 0.77);
//     box-shadow: 1px 2px 1px #3C3C3C;
//     li {
//       color: white;
//     }
//   }
// }
