<div class="theater-container">
  <div class="theater-description">
    <span class="theater-name"><%= theater.name %></span>
    <br>
    <span class="theater-address"><%= theater.address %></span>
  </div>
  <div class="list-inline showtime-list">
    <p class="showtime-item">
      <%= shows.map{ |show| show.starts_at.strftime("%H:%M") }.join(' | ') %>
    </p>
  </div>
</div>
