<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-credits">
        <p class="credits-text">© 2016 HOLLY, Inc.</p>
      </div> <!-- .footer-credits -->
      <div class="footer-links">
        <%= link_to "About", "#" %>
        <%= link_to "Contact", "#" %>
        <%= link_to "Terms", "#" %>
        <%= link_to "Privacy", "#" %>
      </div> <!-- .footer-links -->
    </div> <!-- .footer-content -->
  </div> <!-- .container -->
</footer>