<div class="">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12">
      <h3 class="section-title"><%= t ('list.my-friends') %></h3>
      </div>
      <% list.each do |friend| %>
        <% common_movies = current_user.common_movies_with(friend, :unwatched) %>
        <div id="friend-<%= friend.id %>">
          <%= render 'shared/friend_item', friend: friend, common_movies: common_movies, interest: nil %>
        </div>
        <%= render 'shared/friend_modal', friend: friend, common_movies: common_movies, interest: nil %>
      <% end %>
    </div>
  </div>
</div>

