<div class="">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12">
      <h3 class="section-title">Your friends</h3>
      </div>
      <% list.each do |friend| %>
        <% common_movies = [] %>
        <!-- movies in common -->
        <% friend.interests.each do |movie| %>
          <% p "list ami" %>
          <% if movie.watched_on.nil? %>
            <% current_user.interests.each do |cumovie| %>
              <% if cumovie.watched_on.nil? %>
                <% if cumovie.movie_id == movie.movie_id %>
                    <% common_movies << movie.movie_id %>
                <% end %>
              <% end %>
            <% end  %>
          <% end %>
        <% end  %>

        <div id="friend-<%= friend.id %>">
          <%= render 'shared/friend_item', friend: friend, common_movies: common_movies, interest: nil %>
        </div>
        <%= render 'shared/friend_modal', friend: friend, common_movies: common_movies, interest: nil %>
      <% end %>
    </div>
  </div>
</div>

