<div class="container padded">
  <div class="row"x>
    <div class="col-xs-10 col-xs-offset-1">
      <h3 class="section-title"><%= t ('mywl') %></h3>
      <div id="unwatched-movie-list">
        <% list.each do |interest| %>
          <%= render 'shared/movie_item', movie: interest.movie, interest: interest %>
        <% end %>
      </div>
    </div>
  </div>
  <% watched = [] %>
  <% if current_user.interests.each do |i| %>
    <% watched << i if !i.watched_on.nil?  %>
    <% end %>
    <% !watched.empty? %>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h3 class="section-title"><%= t ('watched') %></h3>
        <div id="watched-movie-list"></div>
      </div>
    </div>
  <% end %>
</div>
