<div class="container padded">
  <div class="row">
    <% list.each do |interest| %>
      <% unless interest.watched_on %>
        <%= render 'shared/movie_item', movie: interest.movie, interest: interest %>
      <% end %>
    <% end %>
  </div>
</div>
