<div class="container padded">
  <div class="row" id="unwatched-movie-list">
    <% list.each do |interest| %>
      <%= render 'shared/movie_item', movie: interest.movie, interest: interest %>
    <% end %>
  </div>
  <h3 class="title-seen text-center">Watched</h3>
  <div class="row" id="watched-movie-list">
  </div>
</div>

