<div class="container padded" id="scrollable-list">
  <div class="row">
    <% list.each do |movie| %>
      <%= render 'shared/movie_item', movie: movie, friends: @friends, interest: nil %>
    <% end %>
  </div>
</div>
