<div class="col-xs-12">
  <div class="movie-item">
    <img src="http://placehold.it/40x60" alt="kudoz" class="movie-item-image hidden-xs">
    <div class='movie-item-body'>
      <h3><%= movie.title %></h3>
<!--       <p>Réal: Steven Spielberg</p> -->
    </div>
    <ul class="list-inline movie-item-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
</div>