<div class="movie-item">
  <div class="movie-item-poster"></div>
  <div class="movie-item-infos">
    <div class="movie-item-title">title</div>
    <div class="movie-item-director">directed by : Lorem ipsum dolor sit amet</div>
    <div class="movie-item-cast">Cast: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    <div class="movie-item-details">
      <div class="movie-item-year">2016</div>
      <div class="movie-item-duration">136min</div>
    </div>
  </div>
  <div class="movie-item-social">
    <div class="movie-item-friends-watched">3 friends want to watch</div>
    <div class="movie-item-friends-want-to-watch">2 friends have watched it</div>
  </div>
  <div class="movie-item-controls">
    <div class="movie-item-close">
      <%= link_to icon('times'), '#'  %>
    </div>
    <div class="movie-item-action"></div>
    <div class="movie-item-tags">
      <p class="tag-theaters">#theaters</p>
      <p class="tag-streaming">#streaming</p>
    </div>
  </div>
</div>
