<div class="movie-search-bar-container">
  <form action="/movies" method="get" class="movie-search-bar-form">
    <input type="text" class="movie-search-field" name="title" placeholder="Search something">
    <button type="submit" class="btn btn-success movie-search-button">Search</button>
  </form>
</div>