
<div class="movie-search-bar-container">
<!--           <form action="/movies" method="get" class="movie-search-bar-form">
    <input type="text" class="movie-search-field" id="search-field" name="title" placeholder="Search something">
-->
  <form action="/search" method="get" class="movie-search-bar-form">
    <input type="text" class="movie-search-field" id="search-field" name="terms" placeholder="<%= t ('list.search-something') %>">
    <div id="results"></div>
    <button type="submit" style='outline-width: 0;' id="search-button"><%= t ('list.search') %></button>
  </form>
</div>


<% content_for :after_js2 do %>
  <script>
    $("input#search-field").autocomplete({
      source: function (request, response) {
        var q = request.term.toLowerCase().trim().replace(/\s/g, "_");
        $.get('<%= search_autocomplete_path %>?query=' + q, function (data) {
            response(data);
            $('.ui-helper-hidden-accessible').hide();
            $("ul.ui-autocomplete > li.ui-menu-item").on('click', function(mev) {
              $("input#search-field").val(mev.target.innerText);
              $('button#search-button').click();
            });
          });
      },
      minLength: 3,
      delay: 200
    });
  </script>
<% end %>
