<div class="banner" style="background: linear-gradient(-225deg, rgba(0, 0, 0, 0) 0%, rgba(0,54,61,0.6) 50%), url(<%= image_path('background.jpg') %>);margin-top: -70px;">
  <div class="banner-content">
    <h2>The <strong>ultimate connected <u>Watchlist</u></strong> </h2>
    <p>Find movies, anyhere, anytime</p>
    <button class="banner-central-button">Let's clap!</button>
  </div>
</div>

<div class="wrapper-gray padded">
  <div class="container text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="card" id="discover">
        <div class="card-title"><h2>Discover</h2></div>
          <div class="card-content">
            <p>A wide array of movies, just <strong>pick your favorites</strong> and fill your watchlist!</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="card">
          <div class="card-title"><h2>Plan</h2></div>
            <div class="card-content">

              <p>Watch directly <strong>VOD</strong> from home or <strong>plan movie nights</strong> at your local cinema</p>

            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="card">
          <div class="card-title"><h2>Share</h2></div>
          <div class="card-content">
            <p><strong>Share your claplist</strong> with your friends and <strong>watch movies together</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-multidevice">
  <div class="title-multidevice text-center" id="soon">
    <%= image_tag("soon.png")%>
  </div>
  <div class="container text-center" id="multiplatform">
    <%= image_tag("clap_iOS.png")%>
  </div>
</div>








