<div class="banner" id="howto-banner">
  <div class="banner-content" id="wunderlist-banner-content">
    <div>
      <h2>Great!</h2>
      <p>Now, Holly is going to work for you.</p>
    </div>
  </div>
</div>
<div id="howto-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>How to use it?</h3>
      </div> <!-- .col-xs-12 -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" id="wunderlist-card">
          <div class="card-head">
            <p>Holly creates a 🎥 Movie list</p>
          </div>
          <div class="card-body">
            <p>A new 🎥 movie list is created in your Wunderlist. This is where you will add the movies your want to watch. Just add a new task with the movie title.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" id="wunderlist-card">
          <div class="card-head">
            <p>Holly analyse your movie titles</p>
          </div>
          <div class="card-body">
  <!--           <div class="infos">
              <div>
                <%= image_tag(("http://placehold.it/60x60"),class: "avatar wunderlist-avatar") %>
              </div>
              <div class="tag">
                <span>Incidunt</span>
                <p>distinctio tempora iure.</p>
              </div>
            </div> -->
            <p>Holly will then analyse the movie title, and find the corresponding movie. Of course, the most accurate the title is, easier it is for Holly.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" id="wunderlist-card">
          <div class="card-head">
            <p>Holly gives you the movie details.</p>
          </div>
          <div class="card-body">
<!--             <div class="infos">
              <div>
                <%= image_tag(("http://placehold.it/60x60"),class: "avatar wunderlist-avatar") %>
              </div>
              <div class="tag">
                <span>Explicabo</span>
                <p>distinctio tempora iure.</p>
              </div>
            </div> -->
            <p>After finding the movie, Holly edits the task and fills it with all the details: duration, synopsis, cast and crew, genre ...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
