<%# render 'shared/interests_list', list: @watchlist, friends: @friends %>

<div class="container padded">
  <div class="interests-list">
    <%= render 'shared/interests_list', interests: @interests, friends: @friends %>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="pagination">
        <div class="view-more-link">
          <%= link_to_next_page(@interests, 'View more', :remote => true) %>
        </div>
      </div>
    </div>
  </div>
</div>




<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var watched_list = $('div#watched-movie-list');

    $('#unwatched-movie-list .watched-movie').each(function(idx, movie_item) {
      $(movie_item).appendTo($(watched_list));
    });

    var items = $('.starrr');
    $(items).each(function(index, item) {
      var score = $(item).attr('data-rating');
      if(score > 0) {
        $(item).starrr({ rating: score, readOnly: true });
      } else {
        $(item).starrr({
          change: function(e, value) {
            var ratng = { "rating": value };
            $.ajax({
              type: "PATCH",
              url: "/interests/" + e.currentTarget.id,
              data: ratng,
              success: function(data) {
                var myItem = $('#movie-' + e.currentTarget.id);
                if($(myItem).find('.movie-rating #movie-just-been-watched').length === 0) {
                  $(myItem).find('.rating-text').remove();
                  $(myItem).find('.starrr').addClass('hidden');
                  $(myItem).find('.movie-rating').prepend('<div id="movie-just-been-watched"><%= t ('list.watched') %></div>')
                  setTimeout(function() {
                    $(myItem).find('#movie-just-been-watched').remove();
                    $(myItem).find('.starrr').removeClass('hidden');
                    $(myItem).addClass('watched-movie');
                    $(myItem).css("opacity", "0.5");
                    $(myItem).removeClass('unwatched-movie');
                    $(myItem).prependTo($(watched_list));
                    watched_list.parent().parent().removeClass('hidden');
                  }, 3000);
                }
              }
            });
          }
        });
      }
    });
  <% end %>
<% end %>
