// Your footer style

.footer {
  background-color: $brand-color;
  padding: 10px 0;
  color: #CCCCCC;
  height: 55px;
  .footer-social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    ul {
      margin-bottom: 0px;
      a {
        color: white;
        font-size: 30px;
        letter-spacing: 20px;
        transition: color 1s ease;
        font-size: 20px;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
  .credits {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      color: white;
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
}
