footer {
  font-size: 0.8em;
  background-color: $cyan-darker;
  .footer-content {
    height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    .footer-credits {
      flex: 1 1 70%;
      display: flex;
      justify-content: flex-start;
      p {
        color: $cyan-lighter;
        margin: 0;
      }
    }
    .footer-links {
      flex: 1 1 30%;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: $cyan-lighter;
      }
    }
  }
}