/* Main class */
.navbar-wagon {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  -webkit-transition: 3s;
  transition: 1s;
  padding-top: 21px;
  padding-bottom: 21px;
  background: rgba(126, 155, 159, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 67px;
  height: 67px;
  border: 1px solid white;
}

.clap-logo {
  width: 175px;
}

.navbar-wagon-left {
  flex: 0 0 15%;
}

.navbar-wagon-center {
  flex: 1 0 auto;
  display: flex;
  align-items: space-around;
  justify-content: center;
  .nav-search-container {
    flex: 0 1 500px;
  }

  // margin-right: -314px;
}


/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  flex: 0 0 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item  {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 0px;
    margin-right: 10px;
  .fa {
    margin-right: 8px;
  }
}

/* Navbar standard link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Navbar right button */
.navbar-wagon-button {
  width: 131px;
  display: inline-block;
  padding: 8px 12px 6px 19px;
  cursor: pointer;
  vertical-align: top;
  text-decoration: none;
  color: #171717;
  border: 2px solid #0d2f40;
  background-color: rgb(236, 236, 236);
  text-align: center;
  font-size: 0.6em;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Brandon Grotesque Bold','Helvetica Neue',Arial,Helvetica,sans-serif;
  line-height: 130%;
  -webkit-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
  transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
}
.navbar-wagon-button:hover {
  color: white;
  background-color: #0d2f40;
}

/* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-wagon-search-input:focus  {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 6px;
  margin-right: 15px;
  background-color: #F1F1F1;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #615E5E !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #6C7A7A !important;
}



#dropdown_smartphone {
  margin-right: -135px;
}

.fb-messengermessageus {
  margin-right: 10px;
}

.navbar-wagon-item.hidden-md.hidden-lg {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .dropdown {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // position: relative;
    .dropdown-toggle {
      flex: 0 0 auto;
      font-size: 30px;
    }
  }
  .navbar-center-part-search {
    flex: 1 0 80%;
  }
  .navbar-right-part-empty {
    flex: 0 0 10%;
  }
}



