$break-small: 320px;
$break-large: 1200px;


// GLOBAL LAYOUT OF THE MOVIE ITEM
.movie-item {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  margin: 3px 0 3px 0;
  border: 1px solid $gray-lighter-plus;
  padding-right: 4px;
  border-radius: 2px;
  background-color: white;
  &:hover {
    padding-right: 0px;
    border-right: 5px solid $yellow;
  }
  .movie-item-poster {
    flex: 0 0 10%;
  }
  .movie-item-main {
    position: relative;
    flex: 1 1 80%;
    display: flex;
    flex-direction: row;
    @include media(">=phone", "<=tablet") {
      flex-direction: column;
    }
  }
}

// LEFT PART OF THE MOVIE ITEM
.movie-poster {
  .movie-item-image {
    width: 80px;
    @include media(">=phone", "<=tablet") {
      width: 120px;
    }
  }
}

// CENTER OF THE MOVIE ITEM
.movie-infos {
  flex: 1 1 50%;
  height: 120px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $gray-light;
  font-weight: lighter;
  .movie-cast-crew  > p {
    white-space: pre-line;
    margin: 2px;
    font-size: 0.7em;
  }
  .movie-title {
    h3 {
      margin: 2px;
      font-weight: bold;
      font-size: 1.4em;
      a {
        color: $dark-gray-typo;
        text-decoration: none;
        &:hover {
          color: $dark-gray-typo;
        }
      }
    }
  }
}

.movie-misc {
  display: flex;
  align-items: baseline;
  .movie-friends {
    margin: 0 20px;
    display: flex;
    i, span {
      font-size: 0.8em;
    }
    .movie-item-friends-tooltip > img {
      margin: 7px;
      width: 25px;
      height: 25px;
    }
  }
  .movie-numbers {
    margin: 2px;
    display: flex;
    .movie-year > p {
      margin: 0 5px 0 0;
      font-size: 0.7em;
    }
    .movie-duration  {
      margin: 0 5px 0 5px;
      display: flex;
      p {
        font-size: 0.7em;
        margin: 0 1px 0 1px;
      }
    }
  }
}

// RIGHT PART OF THE MOVIE ITEM
.movie-user-controls {
  flex: 0 1 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  @include media(">=phone", "<=tablet") {
    flex-direction: row-reverse;
  }
  .movie-action {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include media(">=phone", "<=tablet") {
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
    }
    .item-rate-movie {
      display: flex;
      flex-direction: column;
      align-item: center;
      justify-content: center;
      p {
        font-size: 0.7em;
        color: $gray-lighter;
        margin: 0px;
      }
    }
  }
  .movie-tags {
    flex: 1 1 20%;
    display: flex;
    //flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include media(">=phone", "<=tablet") {
      flex: 1 1 auto;
      flex-direction: column;
      //justify-content: flex-start;
    }
    .tag-label {
      margin: 2px 2px;
      background: $green;
      padding: 3px 7px;
      border-radius: 50px;
      display: flex;
      justify-content: flex;
      align-items: flex;
      span {
        font-weight: bold;
        color: white;
        font-size: 0.5em;
        @include media(">=phone", "<=tablet") {
          font-size: 0.4em;
        }
        margin: 0px;
      }
    }
  }


}


.movie-close {
  position: absolute;
  top: 5px;
  right: 3px;
  line-height: 0.8em;
  //@include media(">=phone", "<=tablet") {
  //  top: -120px;
  //  right: 5px;
  //}
  a {
    color: $gray-lighter-plus;
    font-size: 0.8em;
    text-decoration: none;
    &:hover {
      color: $brand-color;
    }
  }
}
