.movie-item {
  display: flex;
  align-items: center;
  transition: all 0.15s ease;
  background-color: #FAFAFA;
  // border-right: 7px solid #FAFAFA;
  box-shadow: 0px 0px 1px 0px #81819E;
  position: relative;
  margin: 4px;
  transition: border-right 0.5s ease;
  // transition: 0.3;
  .movie-item-image {
    margin-right: 20px;
    width: 70px;
    box-shadow: 4px 0px 3px 0px #B5B5B5;
    opacity: 0.9;
  }
}

.movie-item:hover {
  cursor: pointer;
  background-color: white;
  // border-right: 7px solid #fd986f;
  h3 a {
    color: #272822;
    text-decoration: none;
  }
  .movie-item-image {
     opacity: 1;
  }
}

.movie-item-right-part {
  flex: 1 0 15%;
  height: 100%;
  display: flex;
  align-items: center;
}


.movie-item-social {
  flex: 1 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
  margin: 4px;
  margin-right: 15px;
  p {
    font-size: 12px;
    margin-bottom: 0px;
    color: #A7BCBC;
  }
  .starrr {
  }
}

.movie-item-social:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.15s ease;
}

.movie-rating {
  display: flex;
  margin: 4px;
}
.movie-social {
  align-self: flex-end;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
}

.movie-infos {
  display: flex;
  margin: 5px 0px;
}

.item-year-released {
  margin-right: 15px;
  margin-bottom: 0px;
  font-size: 12px;
}

.item-clock {
  margin-top: 2px;
  margin-right: 5px;
  font-size: 12px;
}

.item-runtime {
  margin-bottom: 0px;
  font-size: 12px;
}

/* Body design */
.movie-item-body {
  flex: 1 1 50%;
  h3 {
  font-weight: 200;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  }
  a {
  color: #2C2C2C;
  font-weight: 500;
  font-size: 22px;
  }
  p {
    font-weight: lighter;
    color: #404040;
  }
}

/* Controls design */
.movie-item-controls {
  display: flex;
  align-items: center;
  text-align: center;
  // margin: 0px;
  .movie-add-btn {
    width: 105px;
  }
  a.movie-add-btn {
    font-size: 12px;
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  a.movie-added-btn {
    font-size: 12px;
    color: black;
  }
  .movie-added-btn {
    border: 1px solid black;
    width: 105px;
  }
}




// .movie-item-controls a {
//   font-size: 17px;
// }
// .movie-item-controls a:hover {
//   // color: #1C3C56 !important;
//   // opacity: 0.8;
// }
.movie-item-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

#add_to_watchlist {
  font-size: xx-large;
  color: #528FC1;
}




// a.movie-add-btn {
//   font-size: 15px;
//   color: white;
//   opacity: 0.9;
//   text-decoration: none;
// }

// .movie-add-btn {
//   color: #31708F;
// }

// .movie-add-btn:hover {
//   color: white;
// }


// a.movie-added-btn {
//   font-size: 30px;
//   color: $green;
// }

.crew {
  font-size: 12px;
}

.item-director {
  margin-bottom: 0px;
}

.item-cast-crew {
  margin-bottom: 0px;
}

.modal-item-body {
  flex: 0 0 auto;
}
#modal-end {
  margin-right: 10px;
}

.modal-item {
  display: flex;
  align-items: center;
  transition: all 0.15s ease;
  background-color: #F4F4F4;
  border: 1px solid #949494;
  margin: 4px;
  justify-content: space-between;
  .modal-item-group-one {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .movie-item-image {
    margin-right: 20px;
    width: 70px;
    box-shadow: 4px 0px 3px 0px #B5B5B5;
    opacity: 0.9;
  }
}

.movie-channel {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.channel-label {
  display: inline;
  font-size: 12px;
  padding: 2px 10px;
  a {
    color: white;
    font-weight: 500;
  }
}
.channel-label-cinema {
  background-color: #e67e22;
}
.channel-label-streaming {
  background-color: #fdd835;
}

.item-cross {
  top: 5px;
  right: 5px;
  position: absolute;
  color: #e6e6e6;
}

.watched-movie {
  opacity: 0.5;
}

#movie-just-been-watched {
  background-color: #fd986f;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px 15px;
}

.title-seen {
  color: #ffffff;
  font-weight: 100;
  opacity: 0.8;
}

.movie-item-friends-interests-link {
  text-decoration: none;
  font-size: 10px;
  color: #585858;

}

