.container-search-bar {
  padding-top: 28px;
}

.movie-search-bar-form {
  display: flex;
  margin: 20px 0px;
}

.movie-search-field {
  margin-right: 0px;
  flex: 1 0 175px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  color: #666666;
  border: none;
}

.movie-search-button {
  margin-left: 0px;
  flex: 0 1 100px;
  z-index: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


#search-button {
  color: white;
  background-color: #31708f;
  margin-left: 0px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
  z-index: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
}

#search-button:hover {
  color: white;
  background-color: #31708f;
  margin-left: 0px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
  z-index: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
