$red: #CA0C0C;

.tabs {
  background: #F4F4F4;
  // background: #53443F;
  display: flex;
  justify-content: center;
  font-weight: 100;
  // padding: 10px 10px 0 10px
}
.tabs a {
  color: #455645;
  opacity: 0.8;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
}
.tabs h3 {
  font-size: 17px;
  // font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
  font-weight: lighter;
}
.tab {
  // background: #756A66;
  flex: 0 0 30%;
  text-align: center;
  padding: 10px 0;
}

.tab.active {
  border-bottom: 3px solid #455645;
  color: #455645;
}
.tab-content {
  padding-top: 10px;
}

