.movie-wrapper {
  background-color: $gray-lighter;
  padding: 10px 0;
}
.movie-info-container {
  // display: flex;
  // justify-content: flex-center;
  // flex-wrap: wrap;
  // margin: 0 50px;
}

.container-movie-infos {
  display: flex;
  justify-content: flex-start;
  color: #6C7A7A;
  font-weight: lighter;
  font-size: 14px;
  margin-left: 11px;
}

.boxing {
  box-shadow: 1px 1px 2px #aaa;
  border-radius: 4px;
  margin: 10px 0;
  background-color: white;
  padding: 23px 24px 41px 25px;
  h4 {
    color: black;
  }
}

.movie-poster-show {
  margin: 0 auto;
  height: 300px;
  box-shadow: 4px 0px 3px 0px #B5B5B5;
  border-radius: 3px;
}
.movie-basic-info {
  display: flex;
  flex: 1 1 250px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: lighter;
  color: $gray-light;
  .movie-title, .movie-release-year {
    font-size: 24px;
    font-weight: normal;
    color: $gray-dark;
    margin-right: 10px;
  }
}
.score-container {
 // flex: 0 0 auto;
  margin-left: 10px;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  width: 406px;;
}
.youtube-trailer {

}

.plus-button-movie-show {
  font-size: xx-large;
  margin-top: -9px;
  opacity: 0.8;
}

.movie-media-display {
  display: flex;
  justify-content: space-around;
  li {
    margin: 0 10px;
  }
}

.movie-media-container {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
}

//2do : move to config/_variables
$star-gray: rgba(0, 0, 0, .2);
$star-yellow: #FFB400;

.rating-enabled {
  color: $star-yellow;
}
.rating-disabled {
  color: $star-gray;
}

.container-synopsis {
  margin-left: 33px;
  margin-right: 71px;
  h4 {

  }
  p {
    font-weight: 100;
  }
}

.movie-synopsis {
  box-shadow: 1px 1px 2px #aaa;
  border-radius: 4px;
  margin: 0;
  background-color: white;
  padding-top: 37px;
  padding-bottom: 36px;
  padding-left: 25px;
  height: 225px;
}

.theater-container {
  font-size: small;
  font-weight: 500;
}

.showtime-item {
  color: #6C7A7A;
  margin-left: 4px;
  margin-bottom: 23px;
  margin-top: 2px;
}

.movie-poster-contaoner {
  height: 200px;
}

.theater-name {
  font-weight: 700;
}

.theater-address {
  font-weight: 300;
}

.tabs {
  margin-bottom: 17px;
}

.tab-active {
  background-color: #634949;
}

.inline-flex {
  display: inline-flex
}
