// .movie-wrapper {
//   background: linear-gradient(#778899, #333333);
//   padding: 10px 0;
// }
.movie-info-container {
  // display: flex;
  // justify-content: flex-center;
  // flex-wrap: wrap;
  // margin: 0 50px;
}
.list-friend {
  display: inline-block;
}
#movie-infos-small {
  margin-left: -35px;
  margin-bottom: -10px;
  strong {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.71);
  }
}

.container-movie-infos {
  display: flex;
  justify-content: flex-start;
  color: #6C7A7A;
  font-weight: lighter;
  font-size: 14px;
  margin-left: 0px;
}

.boxing {
  // box-shadow: 1px 1px 2px #aaa;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: 10px 0;
  background-color: white;
  padding: 23px 24px 41px 25px;
  // box-shadow: -1px 2px 4px -0.9px rgba(0, 0, 0, 0.7) inset;
  h4 {
    color: black;
  }
}

#boxing-show {
  margin-left: -18px;
  margin-right: -18px;
  min-height: 456px;
}

.movie-poster-show {
  margin: 0 auto;
  height: 300px;
  box-shadow: 4px 0px 3px 0px #B5B5B5;
  border-radius: 3px;
}
.movie-basic-info {
  // display: flex;
  // flex: 1 1 250px;
  // margin-left: 10px;
  // font-size: 13px;
  // font-weight: lighter;
  // color: $gray-light;
  .movie-title, .movie-release-year {
    font-size: 24px;
    font-weight: 600;
    color: $gray-dark;
    margin-right: 10px;
  }
}

.movie-info-left {
  // flex: 1;
  // display: flex;
  // align-items: center;
  // .imdb-rating, .inline-flex {
  //   padding: 0 10px;
  // }
  margin-top: 23px;
  .by-ten {
    font-weight: 100;
    font-size: x-small;
    color: gray;
  }
  .imdb-score {
    color: black;
    font-weight: bolder;
  }
}

.rating-imdb {
  margin-left: 5px;
}

.rating-friend {
  margin-top: 10px;
  text-align: right;
}

.movie-info-right {
  // display: flex;
  // align-items: center;
}

.youtube-trailer {

}

.plus-button-movie-show {
  font-size: xx-large;
  margin-top: -9px;
  opacity: 0.8;
}

.movie-media-display {
  display: flex;
  justify-content: space-around;
  li {
    margin: 0 10px;
  }
}

.movie-media-container {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
}

//2do : move to config/_variables
$star-gray: rgba(0, 0, 0, .2);
$star-yellow: #FFB400;

.rating-enabled {
  color: $star-yellow;
}
.rating-disabled {
  color: $star-gray;
}

.container-synopsis {
  margin-left: 33px;
  margin-right: 71px;
  h4 {

  }
  p {
    font-weight: 100;
  }
}

.movie-synopsis {
  // box-shadow: 1px 1px 2px #aaa;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: 0;
  background-color: white;
  padding-top: 37px;
  padding-left: 25px;
  padding-bottom: 37px;
  min-height: 322px;
  p {
    color: $gray;
  }
}

.theater-container {
  font-size: small;
  font-weight: 500;
}

.showtime-item {
  color: #6C7A7A;
  margin-left: 4px;
  margin-bottom: 23px;
  margin-top: 2px;
}

.movie-poster-contaoner {
  height: 200px;
}

.theater-name {
  font-weight: 700;
}

.theater-address {
  font-weight: 300;
}


.inline-flex {
  display: inline-flex
}

#shows_in_theaters {
  overflow: scroll;
  height: 357px;
}

#clock-duration-inline {
  margin-right: 6px;
  color: black;
}

.parental-rating {
  color: black;
  font-weight: 700;
}

.section-title {
  font-size: 16px;
  border-bottom: 1px solid $gray-dark;
  margin-top: 10px;
  padding-bottom: 10px;
  // margin-left: 116px;
  // margin-right: 116px;
  text-align: center;
  font-family: "Open sans";
  font-weight: 300;
  color: $gray-dark;
  font-weight: 100;
  opacity: 0.8;
}
.tabs-title {
  font-size: 20px;
  padding-bottom: 3px;
  margin-top: 3px;

  padding-bottom: 15px;
  // margin-left: 116px;
  // margin-right: 116px;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  opacity: 0.8;

}

.flex-tabs {
  display: flex;
  justify-content: space-between;
}
.flex-tab-item {
  flex: 0 0 25%;
  padding-bottom: 0px;
  color: $gray-dark;
  font-weight: 200;
  font-size: 16px;
  font-family: 'Open sans'
}
.tab-active-search {
  border-bottom: 1px solid;
}

.none {
  background: none;
  border: none;
  border-bottom: solid 1px transparent;
}
.underline {
  border-bottom: solid 1px darkgrey;
}
.none:hover {
  // padding-bottom: 3px;
  border-bottom: solid 1px darkgrey;
}
.none:focus {
  outline-width: 0;
}

.movie-social.movie-item-controls {
  flex-direction: row;
}
