<div class="container", id="login">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <p>Hello <%= @resource.email %>!</p>

      <p>We're contacting you to notify you that your password has been changed.</p>
    </div>
  </div>
</div>
